<div class="mt-4">
  <h3>Đăng khoá học</h3>
  <form method="post" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">Tên khoá học</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả khoá học</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
      />
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Link ảnh của khoá học</label>
      <input type="url" class="form-control" id="image" name="image" />
    </div>
    <div class="mb-3">
      <label for="videoid" class="form-label">Id của Video</label>
      <input type="text" class="form-control" id="videoid" name="videoId" />
    </div>
    <div class="mb-3">
      <label for="level" class="form-label">Trình độ</label>
      <input type="text" class="form-control" id="level" name="level" />
    </div>

    <button type="submit" class="btn btn-primary">Thêm khoá học</button>
  </form>
</div>